---
name: 04 - Using Actions
on:
  workflow_dispatch:
  push:
    branches: [main, develop]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 20.x
      - name: Install Dependencies
        working-directory: transit
        run: |
          echo "Installing Dependencies"
          npm install
      - name: Run Tests
        working-directory: transit
        run: |-
          echo "Running tests..."
          npm run test
